@{
    Layout = null;
}

<br />
<p>
    FIVE STAR Veterans Center serves its local community and offers relief to local servicemen.
</p>
<p>
    This application originated as a senior capstone project developed by the Code Busters team in 8/20/2017 for
    FIVE STAR Veterans Center. The capstone project ended on 5/17/2018. It is still under continuous development.
</p>
<div style="padding: 5px 5px 5px 5px; background-color: antiquewhite; border: 5px groove; border-color: lightgray">
    <h6>Contributors</h6>
    <p>
        Frank Butler,  Tytus Hamilton, David Thompson
    </p>
</div>
<br />
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

