@model IEnumerable<FIVESTARVC.ViewModels.DashboardData>
@{
    ViewBag.Title = "Dashboard";
}

<h2> Dashboard </h2>
<p>Residents recently admitted into your center.</p>
<p>
    Total active residents: @Html.Raw(ViewBag.pop)
</p>
<div class="container">
<div class="row">



        @foreach (var item in Model)
        {
            <div class="col-md-3" style="margin-top: 1em;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Fullname</h5>
                        <label>Room: </label> @item.RoomNumber<br />
                        <input type="button" class="btn btn-default" value="See more" onclick="location.href='/Residents/Details/@item.ResidentID/';" />
                    </div>
                </div>
            </div>
        }



</div>
    </div>
<br />
