@model DotNet.Highcharts.Highcharts

<br>
<div style="height: 800px;">
    @(Model)
</div>
<div class="form-group" style="margin-top: 10px; margin-bottom: 45px;">
    <button class="btn btn-secondary" onclick="location.href='/Reports/Index';"> Return to Reports </button>
</div>


