@model DotNet.Highcharts.Highcharts





            
<br>

            @(Model)
            
<br>
<button class="btn btn-secondary" onclick="location.href='/Reports/Index';" style="background-color: lightsteelblue"> Return to Reports </button><br>
<br>


