@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Cumulative Graduation Rates";
}

<div class="row">
    <div>
        <div style="height: 800px">
            @(Model)
        </div>
    </div>
</div>
<br>
<button class="btn btn-secondary" onclick="location.href='/Reports/Index';"> Return to Reports </button><br>
<br>