@model FIVESTARVC.Models.Resident
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Historic Data";
}

<h2>Historic</h2>

<button class="btn btn-default" onclick="DownloadData()"> Download Data </button>