@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Historic Rates";
}

<div class="row">
    <div>
        <br>
        <div style="height: 400px">
            @(Model)
        </div>
    </div>
</div> 
<br> 
<button class="btn btn-secondary" onclick="location.href='/Reports/Index';"> Return to Reports </button>
<br>