@model FIVESTARVC.ViewModels.CustomEvent


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h5>
        @ViewBag.Fullname
    </h5>
    <p> This resident can be enrolled in one or more tracks.</p>

    <input type="hidden" name="ResidentID" value="@ViewBag.ResidentID" />


    <div class="container">
        <div class="form-row">
            <div class="col-md-10">
                <table id="tracks" class="table table-sm">
                    <tbody>

                        @foreach (var track in Model.programEvents)
                        {
                            @Html.Partial("_ProgramTrack", track)
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <hr />

    <div style="margin-left: 2.3em;" class="btn-group-sm">
        <button type="submit" class="savebtn btn btn-primary btn">Enroll</button>
        <span class="offset-sm-1"></span>
        <button type="button" class="btn btn-sm" id="addTrack"><i class="fa fa-plus fa-fw"></i>  New Track</button>
        <button type="button" class="btn btn-sm" onclick="location.href='/Residents'"><i class="fa fa-arrow-left fa-fw"></i> Back to List</button>


    </div>

<br />
}
@section Scripts {
    <script type="text/javascript">



        $("#addTrack").on("click", function () {
            $.ajax({
                "url": "/ProgramEvents/AddMultiTrack/",
                "type": "get",
                "cache": false,
                "dataType": "html",
                "success": function (data) {
                    $('#tracks').find('tbody:last').append('<tr>' + data + '</tr>');

                }


            });

            $(".savebtn").show();


        });




        $('#tracks').on('click', 'input.removeRow', function () {

            $(this).closest('tr').remove();

            var x = document.getElementById("tracks").rows.length;
            if (x < 1) {
                $(".savebtn").hide();
            } else {
                $(".savebtn").show();
            }



        });

        



    </script>

}