@model IList<FIVESTARVC.ViewModels.AgeGroups>
@{
    ViewBag.Title = "AgeBreakdown";
}

@{
    Layout = null;
}

<h4>Current Age Composition</h4>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Age group
            </th>

            <th>
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
        <tr>
            <td class="text-right">
                <strong>Total </strong>
            </td>
            <td>
                @ViewBag.Sum
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <strong>Average Age </strong>
            </td>
            <td>
                @ViewBag.AverageAge
            </td>
        </tr>



    </tbody>

</table>


