@{
    Layout = null;
}



<table>
    <tr>
        <td class="col-form-label-lg">
            <strong>Current Resident Average Stay</strong>
            @ViewBag.AvgStay days
        </td>
    </tr>
</table>





