@{
    Layout = null;
}



<table>
    <tr>
        <td class="col-form-label-lg">
            <strong>Average Stay</strong><br />
            @ViewBag.AvgStay days
        </td>
        
           

        
    </tr>



</table>





