@{
    Layout = null;
}



<table>
    <tr>
        <td>
            <strong>Average Stay</strong>

        </td>
        <td>
            @ViewBag.AvgStay days

        </td>
    </tr>
</table>





