@model FIVESTARVC.ViewModels.DemographicTableViewModel


@{
    Layout = null;
}
<h5>@if (Model.IsCurrent) { @Html.Raw("Current") } else { @Html.Raw("Cumulative") } Resident Gender Composition</h5>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Gender
            </th>
            <th>
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GenderComposition)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>

</table>


