@model IList<FIVESTARVC.ViewModels.DischargeStatusGroups>

@{
    Layout = null;
}


<h5>Service Discharge Composition</h5>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Discharge Status
            </th>

            <th>
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }




    </tbody>

</table>

