<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body ng-controller="ResidentController">
    <div id="content" ng-app="FiveStarApp" ng-controller="ResidentController">


        <!-- TODO: Show Resident menu options -->
        <div class="row margin-bottom-md">
            <div class="col-md-4">
                <button class="btn btn-primary"
                        ng-click="residentList()">
                    Resident List
                </button>


                <button class="btn btn-primary"
                        ng-click="residentAdd()">
                    Add Resident
                </button>

            </div>
        </div>


    </div>

    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.js")
    @Scripts.Render("~/Scripts/app/app.js")
</body>
</html>
